/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.wrapper {
	/* background: yellow; */
	width: 876px;
	margin: 10px auto 10px auto;
}

/***Header Styles ***/
.navBar{
	/* background:blue; */
	display:flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

nav a{
	/* border: 2px solid white; */
	display: inline-flex;
	justify-content:space-between;
	margin-right: 55px;
	color:lightgrey;
	text-decoration: none;
	font-weight:bold;
	padding: 8px 0;
	
}

header {
	/* background:green; */
	display:flex;
	justify-content: space-evenly;
	margin-top:50px;
	padding-bottom: 50px;
	border-bottom: 2px solid black;
}

.headerText{
	/* border: 2px solid white; */
	flex-direction: column;
	display:flex;
	text-align: center;
	font-size: 75px;
	padding: 60px 0;
	
}

.button {
	background: white;
	color:black;
	border: 1px solid black;
	width: 150px;
	height: 40px;
	margin: 0 auto;
	padding: 5px 25px 5px;
	display:block;
}

/*** Content Styles ***/

h2{
	font-weight: bold;
}

.indexP {
	font-size: 110%;
}

.topInfo {
	display:flex;
	justify-content: space-between;
	margin:25px 0;
}

#features {
	width: 49%;
}

#about {
	width: 49%;
}

.middleInfo {
	display:flex;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom:40px;
	border-bottom: 2px solid black;
	
}

#services {
	width:60%;
}

#products {
	width:60%;
}

#vision {
	width:60%;
}

/*** Footer Styles ***/

footer {
	padding:50px 0;
}

.copyright {
	text-align: center;
}


/*** Media Queries Styles ***/


/*** Tablet ***/

@media screen and (max-width: 800px){
    .wrapper{
        padding: 10px;
        margin-right:0;
    }
    .navBar {
        /* border: 1px solid red; */
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;  
    }

    .logo {
        /* border: 1px solid red; */
        display: flex;
        width: justify;
        margin: 0px auto;
        padding: 20px;
    }
    nav {
        /* border: 1px solid red; */
        display:inline-flex;
        justify-content: space-evenly;
        margin-right: 0;
        width: justify;
        
    }

    .headerImg {
        display: none;
    }

    header {
        text-align: center;
        display:block;

    }

    .indexP, h2 {
        font-size: 125%;
    }

    .middle-img {
        width: 100%;
    } 
    
}

/*** Phone ***/

@media screen and (max-width: 500px){
    nav {
        /* border: 1px solid red; */
        display:flex;
        flex-direction: column;
        border-bottom: 1px solid black;
    }

    nav a{
        /* border: 1px solid red; */
        width: 100%;
        display:flex;
        justify-content: center;
        padding: 20px 0;
        border-top: 1px solid black;
        font-size: 200%;

    }

    .topInfo, .middleInfo {
        /* border: 1px solid red; */
        display:flex;
        flex-direction: column;
        align-items: stretch; 
    }
    
    .topInfo, .middleInfo, .indexP {
        /* border: 1px solid red; */
        display: flex;
        align-items: stretch;
        width: 100%;
        margin-bottom:40px;
    }

    #features, #about, #services, #products, #vision {
        /* border: 1px solid red; */
        width: 100%;
    }

 

    .headerText {
        font-size: 100px;
    }

    h2{
        font-size: 175%;
    }

    .indexP {
        font-size: 175%;
    }


}
